.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #eeeeee;
}

.accordion-title:hover {
  background-color: #ccc;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-types {
  border-radius: 10px;
  font-size: 16px;
  padding: 2.5px 7.5px;
  cursor: pointer;
  border: 2px solid var(--red-pokemon);
  color: var(--red-pokemon);
  background-color: white;
}

.btn-types:hover {
  background: var(--red-pokemon);
  color: white;
}

.radio {
  display: none;
}

.radio:checked + label {
  background: var(--red-pokemon);
  color: white;
}

@media screen and (max-width: 700px) {
  .accordion-title {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}
