.bg {
  /* The image used */
  background-image: url("../../images/landing-background.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-wiki {
  color: var(--red-pokemon);
}

.h1-landing {
  font-size: 100px;
  padding-left: 50px;
  text-shadow: 2px 1px 5px white;
}

.text-landing {
  font-size: xx-large;
  padding-left: 50px;
  text-shadow: 2px 1px 5px white;
}

.container-landing {
  position: absolute;
  top: 57.5%;
  transform: translateY(-50%);
  padding: 10px;
}

.plain-link {
  text-decoration: none;
  color: var(--red-pokemon);
}
